/.metadata/
# Python virtual environments
venv/
.env/
.env*/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db
InventoryApplication/images/IMG_5971.HEIC
InventoryApplication/images/IMG_5972.HEIC
InventoryApplication/images/IMG_5973.HEIC
InventoryApplication/images/IMG_5974.HEIC
InventoryApplication/images/IMG_5975.HEIC
InventoryApplication/images/IMG_5976.HEIC
InventoryApplication/images/IMG_5977.HEIC
InventoryApplication/images/IMG_5978.HEIC
InventoryApplication/images/IMG_5979.HEIC
InventoryApplication/images/IMG_5980.HEIC
InventoryApplication/images/IMG_5981.HEIC
InventoryApplication/images/IMG_5982.HEIC
InventoryApplication/images/IMG_5983.HEIC
InventoryApplication/images/IMG_5984.HEIC
InventoryApplication/images/IMG_5985.HEIC
